
<%= content_for @title="Se Connecter" %>


<div class="col-12 col-md-6 col-lg-6 offset-md-3">
  <div class="container">
    <div class="card text-center mt-4">
      <!-- sign in header Msg-->
      <div class="card-header">
        <h2 class='card-title font-bold'>Se Connectez</h2>
      </div>

      <!-- sign in content Msg-->
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.text_field :login, class:"form-control focus:outline-none focus:ring focus:border-blue-100", hide_label: true,
             placeholder:"N° téléphone ou Adresse email." %>
          </div>

          <div class="field my-2">
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control focus:outline-none focus:ring focus:border-blue-100",
            placeholder:"Mot de passe" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="">
              <%= f.check_box :remember_me %>
              <%= f.label :'Oui, restez connecter' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Se Connectez", class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




