<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exercice.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @exercice.content %>
</p>

<p>
  <strong>Annonce1:</strong>
  <%= @exercice.annonce1 %>
</p>

<p>
  <strong>Champ1:</strong>
  <%= @exercice.champ1 %>
</p>

<p>
  <strong>Champ2:</strong>
  <%= @exercice.champ2 %>
</p>

<p>
  <strong>Champ3:</strong>
  <%= @exercice.champ3 %>
</p>

<p>
  <strong>Annonce2:</strong>
  <%= @exercice.annonce2 %>
</p>

<p>
  <strong>Champ4:</strong>
  <%= @exercice.champ4 %>
</p>

<p>
  <strong>Champ5:</strong>
  <%= @exercice.champ5 %>
</p>

<p>
  <strong>Champ6:</strong>
  <%= @exercice.champ6 %>
</p>

<p>
  <strong>Annonce3:</strong>
  <%= @exercice.annonce3 %>
</p>

<p>
  <strong>Champ7:</strong>
  <%= @exercice.champ7 %>
</p>

<p>
  <strong>Champ8:</strong>
  <%= @exercice.champ8 %>
</p>

<p>
  <strong>Champ9:</strong>
  <%= @exercice.champ9 %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @exercice.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @exercice.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @exercice.course_id %>
</p>

<%= link_to 'Edit', edit_exercice_path(@exercice) %> |
<%= link_to 'Back', exercices_path %>
